



<style>

li img {

    min-height:175px;
}

#equal_row {

}

#location {


}

#hours {


}

.modal_trigger {
    cursor:pointer;
}

#email: hover {
text-decoration: underline;
color:blue;

}
#face-holder {
    margin: 0 auto;
    text-align:center;
}

    h4 h5{
        font-weight:bold;
        padding: 5px;

    }



    #flip-page{

        text-align:center;
        margin:auto;
    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;

    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

<script>
$(document).ready(function(){
    $(".modal_trigger").click(function(){
        var src = $(this).attr("src");
        $("#display_image").attr("src", src);
        $("#myModal").modal({
            show: true
        });
    });
});
</script>
<script>
    function initMap() {
        var myLatLng = {lat: 33.1151217, lng: -117.0802894};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Dels Barber Shop'
        });
    }
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css">

<div class="demo-header">
    <div class="demo-header-content">
        <div class="container">
            <h1>Del's Barber Shop</h1>
            <hr class="colored">
            <p>Elevating Men's Hair for over 50 years.</p>
            <ul class="list-inline cta-list">
                <li>
                    <a target="_blank" href="https://maps.google.com/maps?ll=33.115122,-117.080289&z=16&t=m&hl=en-US&gl=US&mapclient=embed&cid=17724270169129803621" class="btn btn-outline-light page-scroll-demo">Get Directions</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="part2">
    <div class="container">
        <div class="row" id="equal_row">
            <div class="col-md-6" >
                <div class="box-bubble">
                    <div class="box-icon">
                        <span class="fa fa-4x fa-map"></span>
                    </div>
                    <div class="info">
                        <h4 class="text-center">Our Location</h4>
                        <div class="map-responsive" id="location">
                            <iframe class="embed-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.7701472756107!2d-117.08247808525135!3d33.115126173976634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf48214182e21%3A0xf5f941cfc608df65!2sDel&#39;s+Barber+Shop!5e0!3m2!1sen!2sus!4v1460870939567" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="box-bubble">
                    <div class="box-icon" >
                        <span class="fa fa-4x fa-hourglass-half"></span>
                    </div>
                    <div class="info" id="hours">
                        <h4 class="text-center">Hours and Contact</h4>
                        <h5 class="text-center">Tuesday-Saturday</h5>
                        <h5 class="text-center">8:00 AM to 5:30 PM</h5>
                        <hr />

                        <h5 class="text-center">Phone: <a href="tel:760-743-9770" id="email">760-743-9770</a></h5>
                        <h5 class="text-center">E-Mail: <a href="mailto:Del@delsbarbershop.com" id="email">Del@delsbarbershop.com</a></h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
 <div id="history-container">
    <div class="container">
        <div class="row">
            <div class="box-bubble" >
                <div class="info">
                    <h4 class="text-center">History</h4>

                    <div class="row">
                        <div class="col-md-8">
                            <p>Dan says "You never know what friends might be waiting here for you…we can’t wait to get to work in the morning.</p>
                            <p>Del Engelbrecht opened the barbershop on South Escondido Boulevard in October 1959 when the flat-top crew cut was all the craze. Del retired in 1981 and has since handed down the family business to his son Dan Engelbrecht who began his career at the barbershop in 1973. Del’s 32 year old grandson Jason started cutting hair in January 1999, carrying on the family tradition.</p>
                            <p>The tiny barbershop is a throwback to the 1960’s and there is just enough room for four chrome and vinyl barber chairs, a small waiting area and a barbershop pole swirling with red, white and blue. The shop specializes in flattops along with current trends. But customers don’t go there for just for the haircuts, it’s a great place to meet all your friends and catch up on all the latest ‘gossip’. The shop’s four full time barbers (Dan Engelbrecht, Al Strachan, Jason Engelbrecht and Josh Paoli) boast that when it comes to Escondido, they know just about everything that’s going on.</p>
                            <p>Good times abound at Del’s Barbershop year round. As Dan says "You never know what friends might be waiting here for you…we can’t wait to get to work in the morning.</p>
                        </div>

                        <div class="col-md-4">
                            <img src="https://s3-media4.fl.yelpcdn.com/bphoto/OH5lP9G3LhOj2mJ8F2DLnA/ls.jpg" class="img-responsive" alt="storeshot" style="margin:10px;float:left"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
 <div class="container">
 <div class="row" style="margin-top:20px">
    <div class="col-md-12">
             <!-- Place somewhere in the <body> of your page -->
                <!-- Place somewhere in the <body> of your page -->
            <div class="flexslider">
              <ul class="slides">
                <li>
                <img src="/flexslider_photos/photo08.JPG" class="modal_trigger"/>
                </li>
                <li>
                <img src="/flexslider_photos/photo09.jpg" class="modal_trigger"/>
                </li>
                <li>
                <img src="/flexslider_photos/photo10.jpg" class="modal_trigger"/>
                </li>
                <li>
                <img src="/flexslider_photos/photo11.jpg" class="modal_trigger"/>

                </li>
                <li>
                <img src="/flexslider_photos/photo12.jpg" class="modal_trigger"/>

                </li>
                <li>
                <img src="/flexslider_photos/photo13.jpg" class="modal_trigger"/>

                </li>
                <li>
                <img src="/flexslider_photos/photo14.jpg" class="modal_trigger"/>

                </li>
                <li>
                <img src="/flexslider_photos/photo15.jpg" class="modal_trigger"/>

                </li>
                 <li>
                <img src="/flexslider_photos/photo16.jpg" class="modal_trigger"/>

                </li>
                 <li>
                <img src="/flexslider_photos/photo17.jpg" class="modal_trigger"/>

                </li>
                 <li>
                <img src="/flexslider_photos/photo18.jpg" class="modal_trigger"/>

                </li>
                 <li>
                <img src="/flexslider_photos/photo19.jpg" class="modal_trigger"/>

                </li>
                 <li>
                <img src="/flexslider_photos/photo20.jpg" class="modal_trigger"/>

                </li>
                 <li>
                <img src="/flexslider_photos/photo21.jpg" class="modal_trigger"/>

                </li>
                 <li>
                <img src="/flexslider_photos/photo22.jpg" class="modal_trigger"/>

                </li>
                <li>
                    <img src="/flexslider_photos/OutsideShot.jpg" class="modal_trigger"/>
                </li>
                <li>
                    <img src="/flexslider_photos/police.jpg" class="modal_trigger"/>
                </li>
                <!-- items mirrored twice, total of 12 -->
              </ul>
            </div>
</div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     
      <div class="modal-body">
        <img id="display_image" src="*" style="max-width:100%; max-height:100%"/>
      </div>
    </div>
  </div>
</div>







<div id="fb-root"></div>



<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!--<script>

        var $col_1 = $("#location")
        var $col_2 = $("#hours")

        $(document).ready(function(){
          var col1 = $col_1; alert(col1.height());
          var col2 = $col_2; alert(col2.height());

        if(col1.height() >= col2.height()){
            height=col1.height();
            col2.css("min-height", height + "px");
             alert("i");


          }

        });

</script>-->


<footer style="background-color:white;height:110%">
    <div class="row">
        <div class="col-md-2">
            <div class="fb-like" style="padding:10px" data-href="https://www.facebook.com/Dels-Barber-Shop-272884371376/?fref=ts" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
</footer>
    
    




