


<style>


#face-holder {
    margin: 0 auto;
    text-align:center;
}

    h4 h5{
        font-weight:bold;
        padding: 5px;

    }



    #flip-page{

        text-align:center;
        margin:auto;
    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
<script>
    function initMap() {
        var myLatLng = {lat: 33.1151217, lng: -117.0802894};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Dels Barber Shop'
        });
    }
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css">

<div class="demo-header">
    <div class="demo-header-content">
        <div class="container">
            <h1>Del's Barber Shop</h1>
            <hr class="colored">
            <p>Elevating Men's Hair for over 50 years.</p>
            <ul class="list-inline cta-list">
                <li>
                    <a href="#previews" class="btn btn-outline-light page-scroll-demo">Get Directions</a>
                </li>
                <li>
                    <a href="/history" class="btn btn-outline-light page-scroll-demo">History</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    
       <!-- <div class="col-md-4 text-center">
            <div class="dotted-box">
                <div class="box-content">
                    <i class="box-title fa fa-clock-o">
                        Pricing
                    </i>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                    <br />
                </div>
            </div>
        </div>
        <!--<div class="col-md-4 text-center">
            <div class="dotted-box">
                <div class="box-content">
                    <i class="box-title fa fa-clock-o">
                        Why Del?
                    </i>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                    <br />
                    <a href="ppc.html" class="btn btn-block btn-primary">Learn our History</a>
                </div>
            </div>
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-6">
          <div class="box-bubble">
              <div class="box-icon">
                  <span class="fa fa-4x fa-map"></span>
              </div>
              <div class="info">
                  <h4 class="text-center">Our Location</h4>
                  <div class="map-responsive">
                      <iframe class="embed-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.7701472756107!2d-117.08247808525135!3d33.115126173976634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf48214182e21%3A0xf5f941cfc608df65!2sDel&#39;s+Barber+Shop!5e0!3m2!1sen!2sus!4v1460870939567" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-bubble">
              <div class="box-icon">
                  <span class="fa fa-4x fa-hourglass-half"></span>
              </div>
              <div class="info">
                  <h4 class="text-center">Hours and Contact</h4>
                  <div class="map-responsive">
                     <h5 class="text-center">Tuesday-Saturday</h5>
                    <h5 class="text-center">8:00 AM to 5:30 PM</h5>

                  </div>
              </div>
          </div>
        </div>
      </div>
        

        <div class="col-md-6">
            <div class="box-bubble">
                <div class="box-icon">
                    <span class="fa fa-4x fa-facebook"></span>
                </div>
                <div class="info">
                    <h4 class="text-center">Find Us On Facebook</h4>
                      <center><div class="fb-page" data-href="https://www.facebook.com/Dels-Barber-Shop-272884371376/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/Dels-Barber-Shop-272884371376/">Facebook</a></blockquote></div></div></center>
                </div>
            </div>
        </div>
    </div>
  </div>


        
    </div>
      <!--<div class="row" style="margin-bottom: 10px;">
        <div class="col-md-4 text-center">
            <div class="dotted-box">
                <div class="box-content">
                    <i class="box-title fa fa-clock-o">
                        Store Hours
                    </i>
                    <hr />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                    <br />
                </div>
            </div>
        </div>



</div>-->
</div>



</body>