




<style>

#email: hover {
text-decoration: underline;
color:blue;

}
#face-holder {
    margin: 0 auto;
    text-align:center;
}

    h4 h5{
        font-weight:bold;
        padding: 5px;

    }



    #flip-page{

        text-align:center;
        margin:auto;
    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

<script>
    function initMap() {
        var myLatLng = {lat: 33.1151217, lng: -117.0802894};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Dels Barber Shop'
        });
    }

    
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/screen.css">

<div class="demo-header">
    <div class="demo-header-content">
        <div class="container">
            <h1>Del's Barber Shop</h1>
            <hr class="colored">
            <p>Elevating Men's Hair for over 50 years.</p>
            <ul class="list-inline cta-list">
                <li>
                    <a target="_blank" href="https://maps.google.com/maps?ll=33.115122,-117.080289&z=16&t=m&hl=en-US&gl=US&mapclient=embed&cid=17724270169129803621" class="btn btn-outline-light page-scroll-demo">Get Directions</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="part2">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="location">
                <div class="box-bubble">
                    <div class="box-icon">
                        <span class="fa fa-4x fa-map"></span>
                    </div>
                    <div class="info" id="col_1">
                        <h4 class="text-center">Our Location</h4>
                        <div class="map-responsive">
                            <iframe class="embed-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.7701472756107!2d-117.08247808525135!3d33.115126173976634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf48214182e21%3A0xf5f941cfc608df65!2sDel&#39;s+Barber+Shop!5e0!3m2!1sen!2sus!4v1460870939567" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="hours">
                <div class="box-bubble">
                    <div class="box-icon">
                        <span class="fa fa-4x fa-hourglass-half"></span>
                    </div>
                    <div class="info" id="col_2">
                        <h4 class="text-center">Hours and Contact</h4>
                        <h5 class="text-center">Tuesday-Saturday</h5>
                        <h5 class="text-center">8:00 AM to 5:30 PM</h5>
                        <hr />

                        <h5 class="text-center">Phone:<a href="tel:760-743-9770" id="phone"> 760-743-9770</a></h5>
                        <h5 class="text-center">E-Mail: <a href="mailto:Del@delsbarbershop.com" id="email">Del@delsbarbershop.com</a></h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
 <div id="history-container">
    <div class="container">
        <div class="row">
            <div class="well" style="margin-top: 20px">
                <div class="info">
                    <h4 class="text-center">History</h4>

                    <div class="row">
                        <div class="col-md-8">
                            <p>Dan says "You never know what friends might be waiting here for you…we can’t wait to get to work in the morning.</p>
                            <p>Del Engelbrecht opened the barbershop on South Escondido Boulevard in October 1959 when the flat-top crew cut was all the craze. Del retired in 1981 and has since handed down the family business to his son Dan Engelbrecht who began his career at the barbershop in 1973. Del’s 32 year old grandson Jason started cutting hair in January 1999, carrying on the family tradition.</p>
                            <p>The tiny barbershop is a throwback to the 1960’s and there is just enough room for four chrome and vinyl barber chairs, a small waiting area and a barbershop pole swirling with red, white and blue. The shop specializes in flattops along with current trends. But customers don’t go there for just for the haircuts, it’s a great place to meet all your friends and catch up on all the latest ‘gossip’. The shop’s four full time barbers (Dan Engelbrecht, Al Strachan, Jason Engelbrecht and Josh Paoli) boast that when it comes to Escondido, they know just about everything that’s going on.</p>
                            <p>Good times abound at Del’s Barbershop year round. As Dan says "You never know what friends might be waiting here for you…we can’t wait to get to work in the morning.</p>
                        </div>

                        <div class="col-md-4">
                            <img src="https://s3-media4.fl.yelpcdn.com/bphoto/OH5lP9G3LhOj2mJ8F2DLnA/ls.jpg" class="img-responsive" alt="storeshot" style="margin:10px;float:left"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<div class="col-md-12" >
<div id="slider" class="flexslider"  style="background-image: url('otis_redding.png');">
  <ul class="slides" style="background-image: url('otis_redding.png')">
    <li>
      <img src="images/night.jpeg" style="border-radius:50px" />
        <div class="container">
      <div class="row">
<div class="col-md-12 holder">
      <div class="upperPortion">
      <button class="btn-block  disabled header"><h4>Soccer</h4></button>
      </div>
      <div class="lowerPortion">
          <p class="paragraph">I played soccer for around 10 years before I started high school. Even though I played basketball in high school, soccer remains one of my favorite sports. Generally, I would play defense earning nickanmes like "The Wall"</p>
          <p><strong><u>Awards:</u></strong><br />
          - None besides some participation trophies and a couple playoff trophies</p> 
       </div>
    </div>
  </div>
</div>
    </li>
    <li>
      <img src="images/basket.jpg" style="border-radius:50px"/>
      <div class="container">
      <div class="row">
<div class="col-md-12  holder">
      <div class="upperPortion">
      <button class="btn-block  disabled header"><h4>Basketball</h4></button>
      </div>
      <div class="lowerPortion">
          <p class="paragraph">I played basketball throughout high school. I was on the JV team Freshman and Sophomore year. I was on the Varsity team Junior and Senior year. My first year on the team was the basketball program's inagural year. I had a different coach freshman, sophomore, and junior year. While I enjoy soccer better, I hope to play on some club teams at ASU.</p>
          <p><strong><u>Awards:</u></strong><br />
          - From my freshman to my junior year, I was awarded the defensive player of the year for my specific team</p> 
       </div>
    </div>
  </div>
</div>
    </li>
    <li>
      <img src="http://roccityrobotix.org/wp-content/uploads/2015/04/DSC_6964HighlightsReduced_Resized1920x1280UMask.jpg" style="border-radius:50px"/>
      <div class="container">
      <div class="row">
<div class="col-md-12 holder">
      <div class="upperPortion">
      <button class="btn-block  disabled header"><h4>FRC Robotics</h4></button>
      </div>
      <div class="lowerPortion">
          <p class="paragraph">I was the lead programmer on my high school's robotics team, The Agency. The team competed at the FRC Stronghold level ranking high in OPR at the San Diego Regional I coded the robot in C++ simultaneously learning the language as I went along. The code can be found at Github <a href="https://github.com/Team3021/XCaliber" target="_blank">here</a>.</p>
          <p><strong><u>Awards:</u></strong><br />
          - <u>San Diego Regional Champs</u>: The team placed first out of 60 teams.  It allowed us to progress to to St. Louis for the World Championships. This is the first robotics regional the school has ever won.</p> 
       </div>
    </div>
  </div>
</div>
    </li>
    <li>
      <img src="images/mic.jpeg" style="border-radius:50px"/>
      <div class="container">
      <div class="row">
<div class="col-md-12  holder">
      <div class="upperPortion">
      <button class="btn-block  disabled header"><h4>Speech & Debate</h4></button>
      </div>
      <div class="lowerPortion">
          <p class="paragraph">I was in the Speech and Debate club my freshman year. While in this club, I competed at various debate summits with a partner focusing on policy debate. I won and lost various matches. While I didn't win anything, I consider this class essential to my development in high school and my ability to effectively communicate.</p>
          <p><strong><u>Awards:</u></strong><br />
          - None</p> 
       </div>
    </div>
  </div>
</div>
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
<div class="col-md-10 col-md-offset-1">
<div id="carousel" class="flexslider">
  <ul class="slides">
    <li>
      <img src="images/night.jpeg" />
    </li>
    <li>
      <img src="images/basket.jpg" />
    </li>
    <li>
      <img src="http://roccityrobotix.org/wp-content/uploads/2015/04/DSC_6964HighlightsReduced_Resized1920x1280UMask.jpg" />
    </li>
    <li>
      <img src="images/mic.jpeg" />
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
  </div>
</div>
</div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
      var $col_1 = $("#col_1"); 
     var $col_2 = $("#col_2");
     $(document).ready(function(){
        var col1 = $col_1;
        var col2 = $col_2;
        var height = 0;

        if(col1.height() >= col2.height()){
            height=col1.height();
            col2.css("min-height", height + "px")
        }else{
            height=col2.height();
            col1.css("min-height", height + "px")
    }


});
</script>


<footer>
    <div class="row">
        <div class="col-md-2">
            <div class="fb-like" style="padding:10px" data-href="https://www.facebook.com/Dels-Barber-Shop-272884371376/?fref=ts" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
</footer>
    
    




