<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

     

        <link rel='stylesheet' href='/stylesheets/style.css' />

        <!-- Place somewhere in the <head> of your document -->
        <!-- Place somewhere in the <head> of your document -->
        <link rel="stylesheet" href="css/flexslider.css" type="text/css">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="js/jquery.flexslider.js"></script>
        <!-- Place in the <head>, after the three links -->
        <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
          $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 210,
            itemMargin: 5
          });
        });
        </script>


    </head>
    <body>

    <div id="page-content">
        {{{body}}}
    </div>

    </body>
</html>
