<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <link href='/fonts/octin-sports-rg.tff' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <nav class="navbar navbar-default navbar-static-top">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Del's Barber Shop</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">
                            <i class="fa fa-home">Home</i>
                        </a>
                    </li>
                    <li>
                        <a href="/history">
                            <i class="fa fa-hourglass">History</i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                </ul>
            </div>
        </div>
    </nav>

        <div id="page-content">
            {{{body}}}
        </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked follow-us">
                        <li class="heading">
                            <h3>
                                <i class="fa fa-bullhorn">
                                    Follow Us
                                </i>
                            </h3>
                        </li>
                        <li>
                            <a href="https://twitter.com/MinehutMC" target="_blank">
                                <img class="footer-img" src="http://www.iconsdb.com/icons/preview/red/yelp-2-xxl.png">
                                Yelp
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/MinehutMC" target="_blank">
                                <img class="footer-img" src="/images/twitter_footer.png">
                                Twitter
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-offset-md-6">
                    <ul class="nav nav-pills nav-stacked follow-us">
                        <li>
                            <p style="color: white">© Copyright&nbsp;2016 Dels Barber Shop.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    </body>
</html>
