.carousel-inner > .item > img{
    width:100%;
    height:100%;
}

body {

}

body {
    min-height:100%;
    background-size:100%;
    background-attachment: fixed;

    background: url('/images/fabric.png') repeat;

    background-color: #3B3D42;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #404040;
}

#history-container {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    background-color:#fff;
}

footer {
    background-color: #2A2E34;
}

footer a {
    color: #fff;
    font-weight: 200;
}

footer .heading {
    font-size: 18px;
    color: #fff;
}

.sport-font {
    font-family: octin sports rg;
}

#logo{
    max-height: 100%;
    max-width: 100%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

/* ************** */


h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.demo-header {
    text-align: center;
    background: url('/images/suit.jpg') no-repeat center center scroll;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 100px 0;
    margin-bottom: 20px;
}

.demo-header p {
    font-size: 18px;
    line-height: 1.5;
}

.demo-header .btn-outline-light:hover, .btn-outline-light:focus {
    color: #ef4035;
    background: white;
    outline: none;
}

.demo-header .btn {
    border-radius: 0;
    padding: 12px 18px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.demo-header .btn-outline-light {
    color: white;
    border: 1px solid white;
    background: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.demo-header .btn, .input-group-btn {
    border-radius: 0 !important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.demo-header hr.colored {
    border-color: #ef4035;
}

@media(min-width: 768px) {
    .demo-header hr {
        max-width: 200px;
        margin: 20px auto;
    }
}

.demo-header hr {
    max-width: 100px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 2px;
    margin: 15px auto;
}

/* **************** */
/*   facebook
/* **************** */

.box-bubble {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
}
.box-bubble .box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-bubble .box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.box-bubble .info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.box-bubble .info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.box-bubble hr {
    border-top: 1px solid #3B3D42;
    border-bottom: 1px solid #3B3D42;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}



/* **************** */
/*   dotted box
/* **************** */

.dotted-box {
    background:#fff;
    transition:all 0.2s ease;
    border:2px dashed #dadada;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-clip: padding-box;
    padding:0 20px 20px 20px;
    min-height:340px;
}

.dotted-box:hover {
    border:2px solid #525C7A;
}

.dotted-box .box-title {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.dotted-box .box-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.dotted-box .box-content p {
    color:#515c66;
    text-transform:none;
}

.part2 {

}